


 

<div class="container">

    <div class="card border-light mb-12 card-add">
          
        
        <div class="card-header">
            <p>Add loclation</p>
          
        </div>
        <div class="card-body" >
          <form [formGroup]="zipForm" (ngSubmit)="saveZip()" >
          
            <div class="row">
     
              <div class="form-group input-group-sm col-md-12">
                <label for="name" class="form-label">Enter a zipcode (*)</label>
                <input type="text" class="form-control"  formControlName="zip" placeholder="zipcode" >
            
              </div>
              <div class="form-group input-group-sm col-md-12" *ngIf="success">
                <hr>
                <div class="alert alert-success">
                  The localion has been successfully added.
                  </div>
            
              </div>
              <div class="form-group input-group-sm col-md-12" *ngIf="errorExist">
                <hr>
                
                <div class="alert alert-info">
                   The loclation has been already added.
                  </div>
            
              </div>
              <div class="form-group input-group-sm col-md-12" *ngIf="errorServer">
                <hr>
                
                <div class="alert alert-danger">
                 Server error : Please provide a valid city zip.
                  </div>
            
              </div>
              
             
              <div  class="form-group input-group-sm col-md-12">
                <hr>
              </div>
              <div class="form-group input-group-sm col-md-12">
              <button type="submit"  [disabled]="zipForm.invalid" id="button" class="btn btn-primary">Save loclation</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    
    </div>
    
